<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Read more..</title>
</head>
<body>
    <div class="main w-full text-white min-h-screen bg-zinc-900">
       <a href="/" class="text-blue-500 inline-block mb-10">Go back to home</a>
       <form action="/edit" method="post">
        <input class="block w-1/4 text-zinc-500 rounded-md outline-none px-5 py-2 bg-zinc-800" placeholder="Previous name" name="previous" value="<%= filename %>" >
        <input class="rounded-md w-1/4 block mt-5 px-5 py-2 resize-none  bg-zinc-800" placeholder="New name" name="new">
        <input class="mt-2 bg-yellow-600 px-5 py-1 rounded-md" type="submit" value="Update">
       </form>
    </div>
</body>
</html>