<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <title>Read more..</title>
</head>
<body>
    <div class="main w-full text-white min-h-screen bg-zinc-900">
       <a href="/" class="text-blue-500 inline-block mb-10">Go back to home</a>
        <h1 class="text-4xl tracking-tighter"> <%= filename %> </5></h1>
        <p class="text-xl mt-5 font-light"> <%= filedata %> </p>
    </div>
</body>
</html>